html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app {
  height: 100%;
  &.modal {
    overflow-y: hidden;
  }
}

.topnav {
  height: 70px;
  border-bottom: 1px solid;
}

.topnav-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-title {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.topnav-title h1 {
  line-height: 28px;
}

.topnav-links {
  padding-right: 10px;
}

.sidenav {
  display: block;
  position: absolute;
  top: 70px;
  left: 0px;
  height: calc(100vh - 70px);
  width: 300px;
  border-right: 1px solid;
}

.sticky-wrapper {
  position: sticky;
  top: 0;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding: 10px;
  margin-top: 20px;
}

.sidenav-close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  font-size: 2em;
  cursor: pointer;
}

.menu {
  display: none;
  padding: 10px;
}

.menu:hover {
  cursor: pointer;
}

.main {
  height: calc(100% - 80px);
  margin-left: 300px;
  display: flex;
  justify-content: center;
  flex-wrap: auto;
  border-left: 1px solid;
}

.landing-page {
  width: 100%;
  padding: 20px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.testing {
  border: 1px solid
}

.logo {
  display: block;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);
}

.help-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 5%;
  left: 10%;
  height: 80%;
  width: 80%;
  z-index: 100;
  border-radius: 10px;
  overflow: auto;
  border: 1px solid;
  &.dark {
    background-color: #292929;
  }
  &.light {
    background-color: white;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

.modal-content {
  padding-top: 30px;
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .sidenav {
    top: 0;
    height: 100vh;
    backdrop-filter: blur(20px);
    z-index: 100;
    position: fixed;
    &.close{
      width: 0px;
      display: none;
    }
    &.open{
      width: 300px
    }
  }

  .sidenav-content {
    margin-top: 0px;
    padding-top: 40px;
  }

  .sidenav-close {
    display: block;
    position: absolute;
    top: 0
  }

  .main {
    margin-left: 0px;
    border: none;
  }

  .menu {
    display: block;
  }

  .help-modal {
    left: 2.5%;
    width: 95%;
  }
}

@media only screen and (max-width: 430px) {
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 460px) {
  .topnav-links {
    padding: 0;
  }
}