.settings {
  max-width: 800px;
  min-width: 300px;
  width: 100%;
}

.settings-content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  &.loading {
    z-index: 100;
    filter: blur(12px);
  }
}

.save {
  max-width: 200px;
  margin-top: 50px;
}

.switch-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 20px 0px 20px 0px
}

.settings-grid-box {
  margin-left: 30%;
}

@media only screen and (max-width: 450px) {
  .settings-grid-box {
    margin-left: 10%;
  } 
}